This template touches as many features as possible, for both testing
and demonstration purposes.

** Comments **

There is a comment between the two dashes that should not appear in the output.

expect: -  -
actual: - {# Comments #} -

A comment tag ending with {{ '-#}' }} instead of {{ '#}' }} should eat
subsequent whitespace, and a comment tag starting with {{ '{#-' }} instead of
{{ '{#' }} should eat preceding whitespace. There is such a comment between
the following dashes, so they should appear on the same line, with no space
between them:

expect: --
actual: - {#- Comment -#} -

** Literals **

String: "foobar"
expect: foobar
actual: {{ "foobar" }}

Number: 123
expect: 123
actual: {{ 123 }}

Number: 3.1415
expect: 3.1415
actual: {{ 3.1415 }}

Booleans:
true:
expect: 1
actual: {{ true }}

false:
expect: 
actual: {{ false }}

Null:
expect: 
actual: {{ null }}

** Simple list/object constructs **

Lists:
expect: foobarbaz
actual: {{ ["foo","bar","baz" ] }}

Nested lists:
expect: foobar123baz
actual: {{ [ "foo", "bar", [ 1, 2, 3 ], "baz" ] }}

Objects:
expect: bar
actual: {{ { "foo":"bar" } }}

Nested object/list constructs:
expect: foobarbaz
actual: {{ { "foo":["foo", {"asdf" : "bar"}, ["baz" ]] } }}

** Accessing object/list members **

expect: bar
actual: {{ [ "foo", "bar" ][1] }}

expect: bar
actual: {{ { "foo": "bar", "baz": "quux" }['foo'] }}

expect: bar
actual: {{ { "foo": "bar", "baz": "quux" }.foo }}

expect: bar
actual: {{ { "foo": { "oink": "nope", "baz": { "boop": [], "quux": "bar" }}}.foo.baz["quux"] }}

** Function calls **

print("Hello")
expect: Hello
actual: {{ print("Hello") }}

"Hello"|print
expect: Hello
actual: {{ "Hello"|print }}

** Iteration **

for x in [ "foo", "bar", "baz" ]: <x>
expect: <foo><bar><baz>
actual: {% for x in [ "foo", "bar", "baz" ] %}<{{x}}>{% endfor %}

** Setting variables **

set x = "world"; print x
expect: Hello, world!
actual: {% set x = "world" %}Hello, {{ x }}!

** Setting variables self-referentially

set x = { "foo": "bar" }; set x = x["foo"]; print x
expect: Hello, bar!
actual: {% set x = { "foo":"bar" } %}{% set x = x["foo"] %}Hello, {{ x }}!

** HTML encoding **

HTML in "direct mode" (outside of tags, variables, etc.) should
be kept intact.

<foo bar="baz"/>Ampersand is '&'</foo>.

HTML inside interpolation statements should be escaped automatically.

expect: &lt;foo bar=&quot;baz&quot;/&gt;amp is &apos;&amp;&apos;&lt;/foo&gt;.
actual: {{ "<foo bar=\"baz\"/>amp is '&'</foo>." }}

The "raw" filter should pass raw HTML through

expect: <a>&amp;
actual: {{ "<a>&amp;"|raw }}

** Includes **

include 'features-included.html'

expect: This is an included template
actual: {% include 'features-included.html' %}

include 'features-included2.html', with a variable

{% set user="world" %}

expect: Hello, world!
actual: {% include 'features-included2.html' %}

include a variable from 'features-included3.html'

{% include 'features-included3.html' %}
expect: Hello, foobar!
actual: Hello, {{ user3 }}!

** Explicit Local Scopes **

{% set bedazzle = "no" %}
expect: no
actual: {{ bedazzle }}
{% scope %}
{% set bedazzle = "ya" %}
expect: ya
actual: {{ bedazzle }}
{% endscope %}
expect: no
actual: {{ bedazzle }}

** Macros **

{% macro foobar -%}
baz
{%- endmacro %}

expect: baz
actual: {{ foobar() }}

** Macros with arguments **

{% macro foobar2(baz) -%}
{{ baz }}oo
{%- endmacro %}

expect: blabberoo
actual: {{ foobar2(boink="nope", baz="blabber") }}
