This template touches as many features as possible, for both testing
and demonstration purposes.

** Comments **

There is a comment between the two dashes that should not appear in the output.

expect: -  -
actual: - {# Comments #} -

A comment tag ending with {{ '-#}' }} instead of {{ '#}' }} should eat
subsequent whitespace, and a comment tag starting with {{ '{#-' }} instead of
{{ '{#' }} should eat preceding whitespace. There is such a comment between
the following dashes, so they should appear on the same line, with no space
between them:

expect: --
actual: - {#- Comment -#} -

** Literals **

String: "foobar"
expect: foobar
actual: {{ "foobar" }}

Number: 123
expect: 123
actual: {{ 123 }}

Number: 3.1415
expect: 3.1415
actual: {{ 3.1415 }}

Booleans:
true:
expect: 1
actual: {{ true }}

false:
expect: 
actual: {{ false }}

Null:
expect: 
actual: {{ null }}

** Simple list/object constructs **

Lists:
expect: foobarbaz
actual: {{ ["foo","bar","baz" ] }}

Nested lists:
expect: foobar123baz
actual: {{ [ "foo", "bar", [ 1, 2, 3 ], "baz" ] }}

Objects:
expect: bar
actual: {{ { "foo":"bar" } }}

Nested object/list constructs:
expect: foobarbaz
actual: {{ { "foo":["foo", {"asdf" : "bar"}, ["baz" ]] } }}

** Accessing object/list members **

expect: bar
actual: {{ [ "foo", "bar" ][1] }}

expect: bar
actual: {{ { "foo": "bar", "baz": "quux" }['foo'] }}

expect: bar
actual: {{ { "foo": "bar", "baz": "quux" }.foo }}

expect: bar
actual: {{ { "foo": { "oink": "nope", "baz": { "boop": [], "quux": "bar" }}}.foo.baz["quux"] }}

** Function calls **

print("Hello")
expect: Hello
actual: {{ print("Hello") }}

"Hello"|print
expect: Hello
actual: {{ "Hello"|print }}

** Addition **

1 + 1 = 2
expect: 2
actual: {{ sum(1, 1) }}

1 + 1 = 2
expect: 2
actual: {{ 1 + 1 }}

** Subtraction **

1 - 1 = 0
expect: 0
actual: {{ 1 - 1 }}

** Concatenation **

1 ~ "foo" = 1foo
expect: 1foo
actual: {{ 1 ~ "foo" }}

** Multiplication **

5 * 5 = 25
expect: 25
actual: {{ 5 * 5 }}

** Division **

24 / 6 = 4
expect: 4
actual: {{ 24 / 6 }}

3 / 2 = 1.5
expect: 1.5
actual: {{ 3 / 2 }}

** Integer Division **

24 // 6 = 4
expect: 4
actual: {{ 24 // 6 }}

3 // 2 = 1
expect: 1
actual: {{ 3 // 2 }}

** Modulo **

7 % 3 = 2
expect: 1
actual: {{ 7 % 3 }}

** Iteration **

for x in [ "foo", "bar", "baz" ]: <x>
expect: <foo><bar><baz>
actual: {% for x in [ "foo", "bar", "baz" ] %}<{{x}}>{% endfor %}

for x in []: <x> else <no>
expect: <no>
actual: {% for x in [] %}<{{x}}>{% else %}<no>{% endfor %}

for x in [a]: <x> else <no>
expect: <a>
actual: {% for x in ["a"] %}<{{x}}>{% else %}<no>{% endfor %}

** The `loop` auto-variable

expect: (red/foo)(green/bar)(red/baz)
actual: {% for x in ["foo", "bar", "baz"] -%}
            ({{ loop.cycle("red", "green") }}/{{ x }})
        {%- endfor %}

** Conditionals **

if true then "yes" else "no"
expect: yes
actual: {% if true %}yes{% else %}no{% endif %}

if false then "yes" else if false then "maybe" else "no"
expect: no
actual: {% if false %}yes{% elif false %}maybe{% else %}no{% endif %}

if false then "yes" else if true then "maybe" else "no"
expect: maybe
actual: {% if false %}yes{% elif true %}maybe{% else %}no{% endif %}

** Comparisons **

if 1 == 1 then "yes" else "no"
expect: yes
actual: {% if (1 == 1) %}yes{% else %}no{% endif %}

if 1 > 0 then "yes" else "no"
expect: yes
actual: {% if (1 > 0) %}yes{% else %}no{% endif %}

if 1 > null then "yes" else "no"
expect: no
actual: {% if (1 > null) %}yes{% else %}no{% endif %}

if 1 < 2 then "yes" else "no"
expect: yes
actual: {% if (1 < 2) %}yes{% else %}no{% endif %}

if null < 1 then "yes" else "no"
expect: no
actual: {% if (null < 1) %}yes{% else %}no{% endif %}

** Boolean AND, OR **

AND
expect: yes
actual: {% if 1 && 2 %}yes{% else %}no{% endif %}

expect: no
actual: {% if 1 && 0 %}yes{% else %}no{% endif %}

expect: no
actual: {% if 0 && 0 %}yes{% else %}no{% endif %}

OR
expect: yes
actual: {% if 1 || 2 %}yes{% else %}no{% endif %}

expect: yes
actual: {% if 1 || 0 %}yes{% else %}no{% endif %}

expect: no
actual: {% if 0 || 0 %}yes{% else %}no{% endif %}

** Built-in filters/functions **

"abs"
expect: 2
actual: {{ -2|abs }}

"any"
expect: yes
actual: {% if any(1, 1, true) %}yes{% else %}no{% endif %}

expect: yes
actual: {% if any(0, 1, false) %}yes{% else %}no{% endif %}

expect: no
actual: {% if any(0, 0, false) %}yes{% else %}no{% endif %}

"all"
expect: yes
actual: {% if all(1, 1, true) %}yes{% else %}no{% endif %}

expect: no
actual: {% if all(0, 1, false) %}yes{% else %}no{% endif %}

expect: no
actual: {% if all(0, 0, false) %}yes{% else %}no{% endif %}

"ceil"
expect: 15
actual: {{ 14.1|ceil }}
expect: 15
actual: {{ 14.8|ceil }}
expect: -14
actual: {{ -14.1|ceil }}
expect: -14
actual: {{ -14.8|ceil }}

"capitalize"
expect: This is the end of the world
actual: {{ "this is the end of the world"|capitalize }}

"center"
expect:     asdf    
actual: {{ "asdf"|center(12) }}
expect: foobar
actual: {{ "foobar"|center(2) }}

"concat"
expect: helloworld
actual: {{ ["hello", "world"]|concat }}

"contains"
expect: yes
actual: {% if ['hello', 'world']|contains('hello') %}yes{% else %}no{% endif %}

expect: yes
actual: {% if ['hello', 'world']|contains('hello', 'world') %}yes{% else %}no{% endif %}

expect: no
actual: {% if ['hello', 'world']|contains('hello', 'you', 'world') %}yes{% else %}no{% endif %}

"default"
expect: hi
actual: {{ 0|default("hi") }}
expect: hi
actual: {{ "hi"|default("nope") }}

"difference"
expect: 3
actual: {{ difference(5,2) }}

"escape"
expect: &lt;
actual: {{ escape('<')|raw }}
expect: &lt;&gt;
actual: {{ escape('<', '>')|raw }}

"equals"
expect: yes
actual: {% if equals(1, 1, 1) %}yes{% else %}no{% endif %}

expect: no
actual: {% if equals(1, 1, 2) %}yes{% else %}no{% endif %}

"filesizeformat"
expect: 100 B
actual: {{ 100|filesizeformat }}
expect: 12 kB
actual: {{ 12000|filesizeformat }}
expect: 1.5 MB
actual: {{ 1500000|filesizeformat }}
expect: 100 B
actual: {{ 100|filesizeformat(true) }}
expect: 11.7 kiB
actual: {{ 12000|filesizeformat(true) }}
expect: 1.4 MiB
actual: {{ 1500000|filesizeformat(true) }}

"filter"
expect: 13
actual: {{ [1, 0, 3]|filter(int) }}
expect: 3
actual: {{ [1, 2, 3]|filter(greater, 2) }}

"not-equals"
expect: no
actual: {% if nequals(1, 1, 1) %}yes{% else %}no{% endif %}

expect: yes
actual: {% if nequals(1, 1, 2) %}yes{% else %}no{% endif %}

"floor"
expect: 14
actual: {{ 14.1|floor }}
expect: 14
actual: {{ 14.8|floor }}
expect: -15
actual: {{ -14.1|floor }}
expect: -15
actual: {{ -14.8|floor }}

"int"
expect: 14
actual: {{ 14.1|int }}
expect: 14
actual: {{ 14.8|int }}
expect: -14
actual: {{ -14.1|int }}
expect: -14
actual: {{ -14.8|int }}

"int_ratio"
TODO

"iterable"
TODO

"length"
expect: 3
actual: {{ [1,2,3]|length }}

"modulo"
"num"
TODO

"printf"

expect: 1
actual: {{ printf("%i", 1) }}
expect: 1
actual: {{ printf("%i", "1") }}
expect: 1
actual: {{ printf("%i", 1.3) }}
expect: 1.0
actual: {{ printf("%f", 1) }}
expect: 1.000
actual: {{ printf("%.3f", 1) }}
expect: Hello
actual: {{ printf("%s", "Hello") }}

"product"
expect: 6
actual: {{ product(1,2,3) }}

"ratio"
expect: 2
actual: {{ ratio(6, 1.5, 2) }}

"round"
expect: 14
actual: {{ 14.1|round }}
expect: 15
actual: {{ 14.8|round }}
expect: -14
actual: {{ -14.1|round }}
expect: -15
actual: {{ -14.8|round }}

"show"
TODO

"str"
expect: 123
actual: {{ str(123) }}

"sum"
expect: 6
actual: {{sum(1, 2, 3)}}

"truncate"
expect: 14
actual: {{ 14.1|truncate }}
expect: 14
actual: {{ 14.8|truncate }}
expect: -14
actual: {{ -14.1|truncate }}
expect: -14
actual: {{ -14.8|truncate }}

"urlencode"
expect: a%2Fb%20c
actual: {{ "a/b c"|urlencode }}

"sort"
expect: 123
actual: {{ [2,3,1]|sort }}
expect: 321
actual: {{ [2,3,1]|sort(reverse=true) }}
expect: 41aaa30zzz
actual: {{ [ {"age":30, "name":"zzz"}
           , {"age":41, "name":"aaa"}
           ]|sort(by="name") }}
expect: 41aaa30zzz
actual: {{ [ {"age":30, "name":"zzz"}
           , {"age":41, "name":"aaa"}
           ]|sort(by="age", reverse=true) }}

"slice"
expect: 234
actual: {{ [1, 2, 3, 4, 5]|slice(1,3) }}
expect: 2345
actual: {{ [1, 2, 3, 4, 5]|slice(1) }}
expect: 234
actual: {{ [1, 2, 3, 4, 5]|slice(length=3,start=1) }}

** Setting variables **

set x = "world"; print x
expect: Hello, world!
actual: {% set x = "world" %}Hello, {{ x }}!

** Setting variables self-referentially

set x = { "foo": "bar" }; set x = x["foo"]; print x
expect: Hello, bar!
actual: {% set x = { "foo":"bar" } %}{% set x = x["foo"] %}Hello, {{ x }}!

** HTML encoding **

HTML in "direct mode" (outside of tags, variables, etc.) should
be kept intact.

<foo bar="baz"/>Ampersand is '&'</foo>.

HTML inside interpolation statements should be escaped automatically.

expect: &lt;foo bar=&quot;baz&quot;/&gt;amp is &apos;&amp;&apos;&lt;/foo&gt;.
actual: {{ "<foo bar=\"baz\"/>amp is '&'</foo>." }}

The "raw" filter should pass raw HTML through

expect: <a>&amp;
actual: {{ "<a>&amp;"|raw }}

** Includes **

include 'features-included.html'

expect: This is an included template
actual: {% include 'features-included.html' %}

include 'features-included2.html', with a variable

{% set user="world" %}

expect: Hello, world!
actual: {% include 'features-included2.html' %}

include a variable from 'features-included3.html'

{% include 'features-included3.html' %}
expect: Hello, foobar!
actual: Hello, {{ user3 }}!

** Explicit Local Scopes **

{% set bedazzle = "no" %}
expect: no
actual: {{ bedazzle }}
{% scope %}
{% set bedazzle = "ya" %}
expect: ya
actual: {{ bedazzle }}
{% endscope %}
expect: no
actual: {{ bedazzle }}

** Macros **

{% macro foobar -%}
baz
{%- endmacro %}

expect: baz
actual: {{ foobar() }}

** Macros with arguments **

{% macro foobar2(baz) -%}
{{ baz }}oo
{%- endmacro %}

expect: blabberoo
actual: {{ foobar2(boink="nope", baz="blabber") }}

** Lambdas **

expect: 4
actual: {{ ((x) -> x * x)(2) }}

expect: Hello, world!
actual: {{ ((greeting, name) -> greeting ~ ", " ~ name ~ "!")("Hello", "world") }}

** Ternary operator **

expect: yes
actual: {{ 1 ? "yes" : "no" }}

expect: yes
actual: {{ "yes" if 1 else "no" }}

expect: b
actual: {{ true ? false ? "a" : "b" : "c" }}

expect: b
actual: {{ "a" if false else "b" if true else "c" }}

expect: a
actual: {{ true ? true ? "a" : "b" : "c" }}

expect: c
actual: {{ false ? true ? "a" : "b" : "c" }}

** Call syntax **

{% macro foobar3(a) -%}
{{ a }}({{ caller("asdf") }})
{%- endmacro %}

expect: hey(<asdf>)
actual: {% call (a) foobar3("hey") %}<{{a}}>{% endcall %}

** Inheritance **

expect: This is right.
actual: {% include "inherit-child.html" %}
